# Created by .ignore support plugin (hsz.mobi)
### Example user template template
### Example user template

# IntelliJ project files
.idea
learning_pygame
out
gen
.mypy_cache/
.pytest_cache/
.vscode/
python/


